.axit {
	// display: none;
	// height: 100vh;
	padding: 180px 0px 140px 0px;
	background-color: #9a9a9a;
	position: relative;
	@media (max-width: 767px) {
		& {
			padding: 80px 0px 0px 0px;
			height: auto;
		}
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid #ff8b38;
		left: 50%;
		top: 90%;
		display: block;
		animation: orange-arow 1s linear 0s infinite alternate;
		cursor: pointer;
		
		

	}
	@keyframes orange-arow {
		0% {
			top: 93%;
		}
		100% {
			top: 96%;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			& {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__axit {
		flex: 0 1 44%;
		@media (max-width: 767px) {
			& {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
	}

	&__title {
		width: 175px;
		margin: 0px 0px 33px 0px;
		height: 60px;
		img {
			width: 100%;
		}
	}

	&__subtitle {
		font-family: Raleway;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		margin: 0px 0px 34px 0px;

		&::after {
			content: "";
			display: block;
			width: 66px;
			height: 2px;
			background: #fff;
			margin-top: 34px;
			@media (max-width: 767px) {
				& {
					margin: auto;
					margin-top: 20px;
				}
			}
		}
	}

	&__text {
		opacity: 0.8;
		font-family: Raleway;
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		color: #ffffff;
		margin: 0px 0px 44px 0px;
	}

	&__btn {
	}

	&__form {
		flex: 0 1 33%;
		margin-top: 47px;
	}
	&__menu {
		display: flex;
		flex-direction: column;
		background: #fff;
		input {
			margin: 0px 45px 36px 45px;
			border-bottom: 1px solid #d7d7d7;
			height: 33px;

			&::placeholder {
				color: #d2d2d2;
				font-family: OpenSans;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				padding-left: 14px;
			}
		}
		p {
			padding: 15px 0px;
			text-align: center;
			font-family: OpenSans;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 700;
			color: #333333;
			margin: 0px 0px 36px 0px;
			span {
				color: #ff8b38;
			}
		}
	}
	&__button {
		padding: 20px;
		background: #ff8b38;
		color: white;
		font-family: OpenSans;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
	}
}
