.stylish {
	background: #9a9a9a;
	padding: 67.6px 0px 63px 0px;
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__content {
		margin-bottom: 33px;
		h3 {
			color: white;
			&::after {
				background: #fff;
			}
		}
		p {
			color: white;
		}
	}

	&__btn {
	}
}
