.why {
	padding: 105px 0px;
	background: #ffffff;
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin: 0px 0px 80px 0px;
	}

	&__row {
		display: flex;
		margin: 0px -10px;
	}

	&__column {
	}
}
.column {
	padding: 0px 10px;
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	&:nth-child(1) {
		img {
			top: -15px;
		}
	}
	&:nth-child(3) {
		img {
			top: -24px;
		}
	}
	&__img {
		border: 1px solid orange;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 10px;
		margin-bottom: 29px;

		img {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%);
			width: 100%;
			display: block;
		}
	}

	&__title {
		margin-bottom: 25px;
		font-family: OpenSans;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #333333;
	}

	&__text {
		font-family: OpenSans;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #86878b;
	}
}
